<h2>Crear nueva cuenta</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>


  <%= f.input :name, :label => 'Nombre' %>
  <%= f.input :email, :label => 'Correo Electronico' %>
  <%= f.input :password, :label => 'Contraseña' %>
  <%= f.input :password_confirmation, :label => 'Confirmar Contraseña' %>
  

<br/>
  <div>
  	<%= f.submit "Crear cuenta", class: "btn btn-primary" %></div>
<% end %>

<br/>

<%= render "devise/shared/links" %>
